@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    direction: rtl;
  }
}
@layer components {
  .centered {
    @apply flex justify-center items-center;
  }
  .borderBlack {
    @apply border border-black/10;
  }
  .haf {
    @apply focus:scale-110 hover:scale-110 active:scale-105;
  }
}

html {
  --line-color: #e5e7eb;
}
html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}
.space {
  margin-inline: 1rem;
}